body
{
    font-family: 'Arvo', serif;
}
.height 
{
    min-height: 100vh;
}
.title-underline
{
    width:200px;
    height:5px;
    margin:0 auto;
}
.height-80
{
    min-height:80vh;
}
.about-picture
{
    background: url(../img/camera-fashion-man-2420231.jpg)center/cover no-repeat fixed;
    /* background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed; */
}
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit:cover;
}
#filler
{
    background:linear-gradient(rgba(0,0,0.2),rgba(0,0,0,0.1)) , url(../img/nepal.jpg)center/cover no-repeat fixed
}
.blog-img{
    width: 80vh;
    height: 40vh;
    object-fit:cover;
}
.carosel-img
{
    width: 100vh;
    height: 40vh;
    object-fit:cover;
}
